{% extends 'base.html' %}

{% block nav %}
{% endblock nav %}

{% block main %}
    <main class="vh-100 d-flex align-items-center justify-content-center">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <h2 class="text-center">Sign Up</h2>
                    <div class="my-5">
                        <form id="contactForm" method="POST" action="{{ url_for('auth.signup') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-floating">
                                <input class="form-control" id="name" name="name" type="text"
                                       placeholder="Enter your name..."
                                       required/>
                                <label for="name">Name</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="email" name="email" type="email"
                                       placeholder="Enter your email..."
                                       required/>
                                <label for="email">Email address</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="password" name="password" type="password"
                                       placeholder="Enter your password..."
                                       required/>
                                <label for="password">Password</label>
                            </div>
                            <br/>
                            <button class="btn btn-primary text-uppercase float-end" id="submitButton" type="submit">
                                Sign Up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock script %}
